<h3>Products</h3>
<div class="row">
  <div class="section fl w-10">

    <% @products.each do |product| %>
      <div class="col">

        <h4><%= link_to product.name, product_path(product), remote: true %></h4>
        <p><%= number_to_currency product.price %></p>
        
        <%= form_for @order_item, remote: true do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.number_field :quantity, placeholder: "Oops, breaks if you don't add input!", class: "w2 num_field", required: true, min: 1, value: 1 %>
          <span class="waves-effect waves-light btn" id="submit"><%= f.submit "Add to cart" %></span>
        <% end %>
      
      </div>
    <% end %>

  </div>
  <div id="product_show" class="fr w-50 ml6 h3 fixed top-50%"></div>
</div>
